<h1>ADP Payroll Bot
  <span style="font-size:11px" [hidden]="!errorDisplay">{{tick}}</span>
</h1>
<br />
<div [hidden]="!loading">
  Loading...
</div>
<form (ngSubmit)="answer()">
  <div class="bot-container">
    <div class="bot-question">
      <input type="text" [disabled]="loading" autofocus="autofocus" name="payrollBot" [placeholder]="placeholder == true?'Type Hi & Press Enter' : 'Type your question'"
      [(ngModel)]="question" autocomplete="off" />
    </div>
    <div class="bot-command">
      <button class="bot-command-btn" type="submit" (click)="answer()" [disabled]="loading">
        Ask Payroll Bot
      </button>
    </div>
  </div>
</form>
<div *ngFor="let q of qa" class="answers">
    <p [innerHTML]="q"></p>
</div>